{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    <i class="bi bi-book"></i>
    My Classes
</h2>

<div class="row">

{% for course in courses %}

<div class="col-md-4 mb-4">

    <div class="table-card">

        <h4>{{ course.course_name }}</h4>

        <p><strong>Duration:</strong> {{ course.duration }}</p>

        <p><strong>Fee:</strong> ₹ {{ course.fee }}</p>

       <a href="{% url 'class_detail' course.id %}" class="btn btn-main">
            Open Class
        </a>
    </div>

</div>

{% empty %}

<div class="col-12">

    <div class="alert alert-info">
        No classes assigned.
    </div>

</div>

{% endfor %}

</div>

{% endblock %}