{% extends 'base.html' %}

{% block content %}

<div class="card">

    <div class="card-header">

        <h3>Add Teacher</h3>

    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-main">

                Save Teacher

            </button>

            <a href="{% url 'teacher_list' %}" class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}