{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-8">

        <div class="table-card">

            <h3 class="mb-4">

                {% if form.instance.pk %}

                    Edit Student

                {% else %}

                    Add Student

                {% endif %}

            </h3>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-main">

                    Save

                </button>

                <a href="{% url 'student_list' %}"
                   class="btn btn-outline-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}