{% extends 'auth_base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">

        <label class="form-label">
            Username
        </label>

        <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Enter your username"
            required>

    </div>

    <div class="mb-4">

        <label class="form-label">
            Password
        </label>

        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter your password"
            required>

    </div>

    <button type="submit" class="btn btn-main">
        Login
    </button>

</form>

{% endblock %}