{% extends 'base.html' %}

{% block content %}

<h2>Parent Dashboard</h2>

{% if student_profile %}

<p>
    <strong>Child:</strong> {{ student_profile.user.username }}
</p>

<p>
    <strong>Student ID:</strong> {{ student_profile.student_id }}
</p>

{% else %}

<p>No student linked.</p>

{% endif %}

<div class="dashboard-cards">

<div class="card-box">

<h6>Child Attendance</h6>

<h2>{{attendance_count}}</h2>

</div>

<div class="card-box">

<h6>Fee Details</h6>

<h2>{{fee_count}}</h2>

</div>

</div>

{% endblock %}