{% extends 'base.html' %}

{% block content %}

<div class="table-card">

    <h2 class="mb-4">
        My Profile
    </h2>

    <table class="table">

        <tr>
            <th>Username</th>
            <td>{{ request.user.username }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ request.user.email }}</td>
        </tr>

        <tr>
            <th>Role</th>
            <td>{{ profile.role }}</td>
        </tr>

        <tr>
            <th>Date Joined</th>
            <td>{{ request.user.date_joined }}</td>
        </tr>

        <tr>
            <th>Last Login</th>
            <td>{{ request.user.last_login }}</td>
        </tr>

    </table>

    <a href="{% url 'edit_profile' %}" class="btn btn-main">
        Edit Profile
    </a>

</div>

{% endblock %}