{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">

    Teacher Dashboard

</h2>

<div class="table-card">

    <h4 class="mb-4">

        My Classes

    </h4>

    <table class="table table-hover">

        <thead>

            <tr>

                <th>Class</th>
                <th>Students</th>
                <th>Attendance</th>
                <th>Assignments</th>
                <th>Timetable</th>
                <th>Fees</th>

            </tr>

        </thead>

        <tbody>

        {% for course in courses %}

        <tr>

            <td>

                <strong>{{ course.course_name }}</strong>

            </td>

            <td>

                <a href="{% url 'class_detail' course.id %}"
                   class="btn btn-outline-primary btn-sm">

                    Open

                </a>

            </td>

            <td>

                <a href="{% url 'class_attendance' course.id %}"
                   class="btn btn-outline-success btn-sm">

                    Open

                </a>

            </td>

            <td>

                <a href="{% url 'class_assignments' course.id %}"
                   class="btn btn-outline-warning btn-sm">

                    Open

                </a>

            </td>

            <td>

                <a href="{% url 'class_timetable' course.id %}"
                   class="btn btn-outline-info btn-sm">

                    Open

                </a>

            </td>

            <td>

                <a href="{% url 'class_fees' course.id %}"
                   class="btn btn-outline-dark btn-sm">

                    Open

                </a>

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="6" class="text-center">

                No Classes Assigned

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}